*{
    margin: 0;
    padding: 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: white;
    background-color: navy;
}

input[type="button"]:hover{
    cursor: pointer;
    background-color: darkblue;
    color: white;
}

/* signup.htmlのスタイリング */

.signup_container{
    width: 80%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}

.logo{
    margin: 0 auto;
    width: 250px;
}

.signup_message{
    margin: 10px 0 20px;
    text-align: center;
}

.signup_form{
    width: 80%;
    margin: auto;
}

.signup_area dt{
    margin-left: 20%;
}

.signup_area dd{
    margin: auto;
    height: 60px;
    text-align: center;
}

.signup_button{
    margin: auto;
    width: 200px;
    height: 50px;
    text-align: center;
}

.signup_submit{
    width: 200px;
    height: 50px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius:  15px;
}

.login_link{
    margin: 30px auto;
    color: darkblue;
}

/* profile.phpのスタイリング */

.profile_container{
    width: 80%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
}

.profile_message{
    text-align: center;
}

.profile_form{
    width: 70%;
    margin: auto;
}

.profile_form dl dd{
    height: 60px;
}

.gender_radiobox{
    display: flex;
}

.gender_radiobutton {
    display: none;
  }

.gender_label {
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 5px;
    height: 20px;
}

.gender_label:hover{
    cursor: pointer;
    background-color: darkblue;
    color: white;
}

.gender_radiobutton:checked + .gender_label {
    background-color: darkblue;
    color: white;
}

/* preferences.phpのスタイリング */
.preferences_container{
    width: 80%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.preferences_button{
    margin-top: 5%;
}

/* login.phpのスタイリング */

.login_container{
    width: 80%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1{
    width: 80%;
}

.login_area dt{
    margin-left: 20%;
}

.login_area dd{
    margin: auto;
    height: 60px;
    text-align: center;
}

.text_area{
    height: 30px;
    width:  60%;
    border-color: gray;
    border-radius: 15px;
    border-width: 0.5px;
}

.login_button{
    margin: auto;
    width: 200px;
    height: 50px;
    text-align: center;
}

.login_submit{
    width: 200px;
    height: 50px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius:  15px;
}

.signup_link{
    margin: 30px auto;
    color: darkblue;
}

/* index.phpのスタイリング */

.index_header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.filter_icon{
    margin-right: 33%;
}

.filter_button{
    text-align: center;
}

.filter_button:hover{
    cursor: pointer;
}

.filter_icon:hover .subMenu-2{
    display: block;
}

.profile_icon{
    margin-left: 33%;
}

.navbar-brand{
    text-decoration: none;
    color: gray;
    font-size: 30px;
}

.navbar-header{
    text-align: center;
}

.result_container{
    margin: auto;
    width: 80%;
}

.plan_image{
    width: 100%;
    height: 100%;
}

.plan_box{
    position: relative;
    margin-bottom: 5%;
}

.favorites_icon{
    position: absolute;
    bottom: 50%;
    left: 46%;
}

.favorites_icon:hover{
    cursor: pointer;
}

.favorites_icon span{
    font-size: 100px;
    color: white;
}

.favorites_icon span:hover{
    color: red;
}

.plan_heading{
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: rgba(205,205,205,0.7);
}

.plan_heading a{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.active:hover{
    color: blue;
   cursor: pointer;
}

.subMenu-1{
    position: absolute;
    background-color: rgba(233, 230, 230, 1);
    z-index: 1;
    display: none;
}

.profile_icon:hover .subMenu-1{
    display: block;
}

.subMenu-1 ul li{
    cursor: pointer;
    list-style-type: none;
    width: 180px;
    border: 1px solid;
}

.subMenu-1 ul li a{
    text-decoration: none;
    color: black;
}

.subMenu-2{
    position: absolute;
    background-color: rgba(233, 230, 230, 1);
    z-index: 1;
    width: auto;
    border: 1px solid;
    display: none;
}

.navbar-brand_2{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: right;
}

.jumbotron{
    margin: 20px;
}

.container{
    width: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

fieldset{
    background-color: azure;
    width:80%;
    margin: auto;
}

fieldset .detail_img{
    text-align: center;
}

fieldset img{
    width: 80%;
    align-items: center;
}

.delete_button{
    display: block;
    color: black;
}

/* profile_detail.phpのスタイリング */

.profile_detail_header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_detail_form{
    width: 100%;
}

/* favorites.phpのスタイリング */

.favorites_header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.favorite_box a{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

/* navigation.phpのスタイリング */
.google_map {
    position: relative; /* 子要素の基準とする */
    padding-bottom: 75%; /* 表示するパディング領域の縦横比（4：3） */
    height: 0;
    overflow: hidden;
    margin: auto;
  }
.google_map iframe {
position: absolute; /* 親要素のパディング領域に配置するために絶対配置を指定 */
top: 5%;
left: 5%;
width: 90%; /* 親コンテナの幅いっぱいに表示 */
height: 90%; /* 親コンテナの高さいっぱいに表示 */
}

.lottery_area{
    text-align: center;
}

.lottery_result{
    display: none;
}

#lottery_button{
    display: none;
}

.lottery_button_label{
    display: inline-block;
    background: lightgray;
    padding: 5px 10px;
    margin: 0 0 2% 0;
    cursor: pointer;
}

.lottery_button_label:hover{
    cursor: pointer;
    background-color: darkblue;
    color: white;
}

#lottery_button:checked+label+.lottery_result{
    display: block;
}

.lottery_result p{
    font-weight: bold;
}

@media screen and (max-width: 480px){
/* signup.phpのスタイリング */
    .signup_container{
        width: 80%;
        margin: 15% auto 0;
        display: flex;
        justify-content: center;
    }

    .signup_button{
        margin: auto;
        width: 150px;
        height: 50px;
        text-align: center;
    }

    .signup_submit{
        width: 150px;
        height: 50px;
        background-color: darkblue;
        border: none;
        border-radius:  15px;
    }

/* profile.phpのスタイリング */

    .gender_radiobox{
        display: table;
    }
    .gender_label{
        display: table-cell;
        font-size: 10px;
        height: 30px;
        min-width: 60px;
        text-align: center;
        vertical-align: middle;
    }

/* login.phpのスタイリング */
    .login_button{
        margin: auto;
        width: 150px;
        height: 50px;
        text-align: center;
    }

    .login_submit{
        width: 150px;
        height: 50px;
        background-color: darkblue;
        border: none;
        border-radius:  15px;
    }

/* index.phpのスタイリング */
    .filter_icon{
        margin-right: 20%;
    }

    .profile_icon{
        margin-left: 20%;
    }

    .plan_heading{
        height: 30%;
        font-size: 10px;
    }

    .plan_heading a{
        font-size: 12px;
    }

/* favorites.phpのスタイリング */

    .favorites_icon span{
        font-size: 40px;
        color: white;
    }
}
